*.trz
*.trk
*.pdf
*.pcapng
*.zip
*.txt
*.mp4
*.mp3

2 år/algorithms go brrr/oving 9/enwik8
2 år/algorithms go brrr/oving 9/enwik8.txt
2 år/algorithms go brrr/oving 9/enwik8Comp.txt
2 år/Physics/lab/Lab-1/Solid kule rull - Made with Clipchamp.trz
2 år/Physics/lab/Lab-1/Solid kule rull - Made with Clipchamp.mp4
2 år/Physics/lab/Lab-1/videos/Solid kule rull - Made with Clipchamp.mp4
2 år/Network programming/DATAKOM/Finish connection.pcapng
2 år/Network programming/DATAKOM/Data transmission 1+1.pcapng
2 år/Network programming/DATAKOM/Ws.zip
2 år/Network programming/Frivillig Prosjekt/Presentasjon.mp4
2 år/Physics/Books/UniversityPhysicsVol1-WEB.pdf
2 år/Physics/Books/UniversityPhysicsVolume2-WEB_5eNhMSa.pdf
2 år/algorithms go brrr/Oving 10 legit - Copy/kanter.txt
2 år/algorithms go brrr/Oving 10 legit - Copy/PreFileFrom.txt
2 år/algorithms go brrr/Oving 10 legit - Copy/PreFileTo.txt
2 år/algorithms go brrr/Oving 10 legit - Copy/noder.txt
2 år/algorithms go brrr/Oving 10 legit/interessepkt.zip
2 år/algorithms go brrr/Oving 10/PreFileFrom.txt
2 år/algorithms go brrr/Oving 10/PreFileTo.txt
2 år/databaser/bygg_og_bo/db.opt
2 år/databaser/oving 8/forskning.html
2 år/databaser/oving_2/bok/db.opt
3 år/Matematiske metoder 3/.ipynb_checkpoints/Cubic spline natural-checkpoint.ipynb
3 år/Matematiske metoder 3/.ipynb_checkpoints/not-a-knot-checkpoint.ipynb
3 år/Matematiske metoder 3/Cubic spline natural.ipynb
3 år/Matematiske metoder 3/not-a-knot.ipynb
3 år/MobileApplicationDevelopment/Oving 2/Activities/app/src/main/java/ntnu/idatt2506/activities/MainActivity.kt
